:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,a:link,a:visited{
  color: inherit;
  text-decoration: none;
}
li{
  list-style: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  background: #191c29;
}
/*header*/
header{
  background-color: black;
  position: fixed;
  color: white;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 1.5rem;
}
header .container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height:250px;
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
header nav ul{
  display: flex;
}
header nav ul li{
  padding: 20px;
}
header button{
  background: transparent;
  border: 0;
  cursor: pointer;
}
header h1 button{
  display: flex;
  font-weight: bold;
}
header button{
  font-size: 1.5rem;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header button:hover{
  font-size: 2.5rem;
  background-image: linear-gradient(135deg, #13035d 0%, #c993ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*Encyclopedia*/
#Encyclopedia{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#Encyclopedia button:hover{
  background: linear-gradient(#ffffff,#ff3838);
}
#Encyclopedia img{
  width: 25vw;
  height: 20vh;
}
.select{
  margin: 3.5rem 3.5rem;
}
.title{
  padding-top: 5rem;
  margin-bottom: 3rem;
  font-size: 5rem;
  align-items: center;
  justify-self: center;
  background-image: linear-gradient(to top, #ff3838 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*card*/
#display{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 20px;
}
.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.wrapper::before,.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.name{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
.card:hover .wrapper::before,.wrapper::after {
  opacity: 1;
}
.card:hover .wrapper::after {
  height: 120px;
}
.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}